* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

h1 {
  font-size: 38px;
  line-height: 46px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 22px;
  line-height: 26px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

.link {
  font-size: 16px;
  list-style: none;
  line-height: 20px;
  color: #24A3FF;
}
.link:hover {
  color: #F0145A;
}
.link:active {
  color: #006CCF;
}

.homepage-main {
  width: 100%;
  background: linear-gradient(220.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
}

.homapage-app {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-top: 30px;
  z-index: 2;
}

.btn {
  border-radius: 40%;
  padding-top: 10px;
  width: 33px;
  height: 25px;
  background-color: #323264;
  color: #FFFFFF;
  cursor: pointer;
}
.btn:hover {
  background-color: #F0145A;
}

.div-hi .h1iii {
  position: relative;
  text-align: center;
}

.right-h4 {
  font-family: "Montserrat";
  color: #FFFFFF;
  margin: 5px;
  font-weight: 400;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
}

.homapage-app_right {
  display: flex;
  flex-direction: column;
  position: relative;
}

.svg {
  margin: 5px;
  margin-top: 12px;
}

.div-fon {
  display: flex;
  justify-content: center;
}

.fon {
  width: 697px;
  height: 799px;
  position: absolute;
  display: flex;
  justify-content: center;
  object-fit: contain;
}

.ul-homapage {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.li {
  justify-content: space-between;
  margin-left: 20px;
  color: #FFFFFF;
  height: 20px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  position: relative;
  padding-bottom: 5px;
  text-align: left;
}
.li:hover {
  border-color: #F0145A;
  color: #F0145A;
}

.h1iii {
  font-family: "Montserrat";
  text-align: center;
  color: #FFFFFF;
  margin-top: 95px;
}

.page_knopka {
  display: flex;
  justify-content: center;
  margin-top: 380px;
}

.homepage-main_main {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.homapage-daun {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-left {
  margin-right: 55px;
}

.main-right {
  width: 35%;
  justify-content: center;
  align-items: center;
}

.h1-gradient {
  color: #F0145A;
  text-align: right;
}

.main-left-h1 {
  font-family: "Montserrat";
  color: #B3B3BA;
  margin-top: 10px;
  text-align: right;
  list-style: none;
}
.main-left-h1:hover {
  color: #F0145A;
}

.main-right-h1 {
  font-family: "Montserrat";
  color: #FFFFFF;
  margin-top: 40px;
}

.main-right-p {
  color: #FFFFFF;
  margin-top: 20px;
}

.homapage-main_daun {
  margin-top: 50px;
  padding: 10px 40px;
}

.hom-a {
  margin-right: 480px;
}

.homa-main-daun-h {
  font-family: "Montserrat";
  color: #F0145A;
  margin-top: 10px;
}

.div-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 680px;
}

.main-daun-h {
  color: #24A3FF;
  margin-bottom: 20px;
  margin-top: 5px;
}

.white {
  color: #FFFFFF;
}

.heidth-svg {
  height: 100px;
}

.main-doun-div {
  width: 390px;
  height: 321px;
  margin-top: 50px;
  padding: 16px;
}

.home-main-daun-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.svg-plant {
  width: 98%;
  height: 50px;
}

.h1-daun {
  color: #F0145A;
  width: 95%;
  margin-bottom: 15px;
}

.svg-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.h4-daun {
  color: #B3B3BA;
}

.img-width {
  width: 400px;
  height: 300px;
}

.color {
  background-color: #F5F5FA;
  display: flex;
  max-width: 1800px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 70px;
}

.div-daun {
  padding: 20px 20px;
}

.alex-img-tri {
  width: 420px;
}

.svg {
  display: flex;
  justify-content: center;
}

.h4-daun-daun {
  color: #323264;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 35px;
  font-weight: 700;
}

.heidth-svg-ziro {
  display: flex;
  justify-content: center;
  height: 65px;
  width: 80px;
}

.daun-section-div {
  width: 430px;
  height: 120px;
}

.width_daun-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 120px;
}

.a {
  background-color: #1D4568;
}

.b {
  background-color: #143646;
}

.v {
  background-color: #F48B30;
}

.g {
  background-color: #9E4DC3;
}

.d {
  background-color: #FD9339;
}

.w {
  background-color: #E2E2E4;
}

.k {
  background-color: #C71C36;
}

.p {
  background-color: #DCF3F9;
}

.q {
  background-color: #EAEAEA;
}

.u {
  background-color: #282240;
}

.l {
  background-color: #1D4568;
}

.m {
  background-color: #000000;
}

.img-width-daun {
  height: auto;
}

.daun-div-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
}

.section-daun_daun {
  width: 100%;
  background-color: #F5F5FA;
}

.div-daun-daun {
  padding: 25px;
  width: auto;
}

.div-daun_alex {
  background-color: #FFFFFF;
  width: 420px;
  height: 450px;
  margin: 15px;
}

.div-daun_alex-tri {
  background-color: #FFFFFF;
  width: 420px;
  height: 450px;
  margin: 15px;
}

.alex-img {
  width: 420px;
  border-radius: 15px;
}

.grey {
  color: #B3B3BA;
  margin-bottom: 20px;
}

.div-publication {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 900px;
}

.text-width {
  margin-right: 300px;
}

.div-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.svg-plant {
  width: 100%;
}

.pading {
  padding: 20px;
}

.svg-daun {
  width: 100%;
}

.text-header {
  color: #24A3FF;
  margin-right: 790px;
  margin-top: 3px;
}

.heidth-svg-ziro-footer {
  height: 8px;
  width: 17px;
  margin-left: 5px;
}

.h4-header {
  color: #323264;
}

.div-header {
  display: flex;
  justify-content: center;
}

.svg-div-none {
  display: flex;
  justify-content: center;
  margin-left: 65px;
  height: 30px;
}

.heidth-svg-ziro-facebook {
  height: 45px;
  width: 45px;
}

.div-header-daun {
  display: flex;
  justify-content: center;
  margin-right: 980px;
}

.mobile-burger {
  display: none;
}

.mobile-nav {
  display: none;
}

.slider-wrapper {
  width: 92%;
  background-color: #F5F5FA;
}

.wraper {
  display: flex !important;
}

.slick-stide {
  display: flex;
}

.slick-dots {
  width: 50px;
}

.wraper {
  display: flex !important;
  max-width: 1800px;
}

.slick-dots li button:before {
  font-size: 14px !important;
  margin-top: 15px;
  color: #24A3FF !important;
}

.tabs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  gap: 16px;
}

.tabs-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: max-content;
  text-align: end;
  padding-top: 30px;
  margin-top: 15px;
  padding-right: 60px;
  gap: 16px;
  border-right: 4px solid black;
}
.tabs-links a {
  text-wrap: nowrap;
  border-color: rgb(157, 57, 57);
}

.ui-state-active a {
  border-color: aqua;
}

.ui-tabs-panel {
  width: 100%;
  padding-left: 60px;
  padding-top: 4px;
  max-height: 150px;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
