@media screen and (min-width: 300px) and (max-width: 600px)  {

.ul-homapage{
    display: none;
}

.right-h4{
    display: none;
}

.homapage-app {
    display: flex;
    justify-content: space-between;
   
    z-index: 2;
    flex-direction: column-reverse;
}



.svg-fase{
    display: none;
}

.fon{
    width: 600px;
    height: 800px;
    margin-right: 190px;
}

.alex-img{
    width: 315px;
}

.alex-img-tri{
    width: 315px;
}

.logo{
    width: 180px;
    position: absolute;
}

.homepage-main_main{
    flex-direction: column;
}

.main-right{
    width: 95%;
    margin-left: 10px;
}

.hom-a{
    margin-right: 150px;
}

.div-link{
    margin-right: 5px;
    text-align: left;
}

.img-width{
    width: 315px;
    height: 500px;
}

.color{
    flex-direction: column;
    width: 315px;
    margin-left: 40px;
    margin-right: 50px;
}


.div-publication{
    margin-right: 5px;
}

.text-header{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.daun-div-img{
    margin-left: 10px;
}

.k{
    display: none;
}

.p{
    display: none;
}

.q{
    display: none;
}

.u{
    display: none;
}

.l{
    display: none;
}

.m{
    display: none;
}

.div-daun_alex{
    height: 514px;
}

.div-header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-header-daun{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.page_knopka{
position: relative;
}
}

.svg{
    display: none;
}


.burger-icon{
    display: none;
}

.mobile-burger{
    display: flex;
        flex-direction: row;
        justify-content: flex-start;
}

#burger-checkbox:checked ~ .mobile-nav{
    border-radius: 10px;
display: block;
}

.mobile-nav{
    display: none;
    position: fixed;
    bottom: 10px;
    width: 375px;
    z-index: 5;
    margin: 8px;
    padding: 16px;
    background:white;
    ul{
list-style: none;
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
    }
}


.close-icon{
    display: flex;
flex-direction: row-reverse;
}

.link-icon{
    background-color:#F5F5FA ;
        font-size: 22px;
    list-style: none;
    line-height: 20px;
    color: #24A3FF;

    &:hover{
        color: #F0145A;
    }
}


#close-checkbox:checked ~ .mobile-nav{
display: none;
}

#burger-checkbox:checked ~ .overlay{
    position: fixed;
    display: block;
    inset: 0;
    z-index: 1;
    background: #323264;
}

.tabs-wrapper{
    flex-direction: column;
    overflow: auto;
    padding: 30px;
}



.tabs-links{
border-right: 0px;
 border-bottom: 4px solid #B3B3BA;
}

.ui-tabs-panel{
    height: 150px;
}

.wraper{
    flex-direction: column;
    
}


.slider-wrapper {
    width: 315px;

}

.container{
    width: 100%;
}

.top-nav{
    display: flex;
}

.div-publication{
    text-align: left;
    width: 85%;
}

.homapage-main_daun{
    padding: 10px 20px;
}

.tabs-links{
    flex-direction: row;
    overflow-x: auto;
    list-style: none;
}