 @media screen and (min-width: 600px) and (max-width: 768px)  {


.width_daun-div{
    width: 250px !important;
}    


.homapage-app{
    display: inline;
}

.ul-homapage{
    justify-content: flex-start;
}


.logo{
    margin-left: 35px;
    margin-top: 35px;
    height: 80px;
}

.homapage-app_right{
    margin-left: 20px;
position: relative;
}



.homepage-main_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    
}


.main-left{
width: 100%;
display: flex;
}

.main-left-h1{
    margin-right: 20px;
}


.main-right{
    width: 65%;
    margin-left: 50px;
}

.main-doun-div{
    width: 294px;
}

.color{
    flex-direction: column;
    margin-left: 70px;
}

.div-fon{
    justify-content: flex-start;
}

.img-width{
    width: 630px;
    height: 500px;
}

.div-link{
    margin-right: 2px;
}

.div-publication{
    margin-right: 1px;
}

.div-daun_alex{
    width: 309px;
    height: 514px;
}

.alex-img{
    width: 309px;
}

.alex-img-tri{
    width: 648px;
    height: 200px;
}

.div-daun_alex-tri{
    width: 648px;
    height: 388px;
}

.text-header{
    margin-right: 100px;
}


.div-header-daun{
    margin-right: 280px;
}
}
