 @media screen and (min-width: 250px) and (max-width: 379px) {

.logo{
    width: 200px;
    height: 50px;
}

.homapage-app{
    flex-direction: column-reverse;
    
}


  .div-daun_alex{
    width: 315px;
  }
 }