 @media screen and (min-width: 770px) and (max-width: 1200px)  {

.logo{
    width: 400px;
}

.div-daun_alex{
    width: 281px;
    height: 556px;
}

.alex-img{
    width: 281px;
    height: 200px;
}

.svg-width{
    width: 100%;
}

.text-header{
    margin-right: 400px;
}


.div-header-daun{
    margin-right: 580px;
}
 }